@if (svgStateService.modalState().isOpen) {
	<div
		class="floating-modal"
		[style.left.px]="svgStateService.modalState().x"
		[style.top.px]="svgStateService.modalState().y"
	>
		@for (attribute of svgStateService.modalState().attributes; track attribute.name) {
			<label class="attribute-field">
				{{ attribute.name }}
				<input [(ngModel)]="attribute.value" />
			</label>
		}

		<div class="modal-actions">
			<button class="save-button" type="button" (click)="saveAttributes()">Save</button>
			<button class="close-button" type="button" (click)="svgStateService.closeModal()">Close</button>
		</div>
	</div>
}
